<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Forgot Password</title>


  </head>

  <body>

    {% include "header.html" %}

    <!-- Page Content -->
    <div class="container">

      <div class="jumbotron">       

            <div class="col-md-6 offset-md-3">

                <form>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                    
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <span style="padding-left:50px"><a href="signIn">Sign In</a></span>
                    
                      </form>
        </div>
        <!-- /.col-lg-12 -->

      </div>

    </div>
    <!-- /.container -->
    {% include "footer.html" %}
  </body>

</html>
